# Project exclude paths
/spring-boot-eureka-server/target/
/spring-boot-grpc-client/target/
/spring-boot-grpc-common/target/
/spring-boot-grpc-server/target/
/spring-boot-grpc-loadbalancer-starter/target/
.idea
*.iml
